
body{
 background: url("bg.jpeg") no-repeat center center fixed;
 background-size: cover;
 font-family: 'Ubuntu', sans-serif;
}

.keys{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key{
  display: block;
  padding: 10px;
  margin: 10px;
  width: 60px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  transition: all 0.07s;
  box-shadow: 1px 1px 1px 1px #000;
}


.key.playing{
  border-color: #A7FC00;
  transform: scale(1.1);
  transition: all 0.07s;
  box-shadow: 2px 2px 2px 2px #A7FC00;
}

kbd{
  display: block;
   font-size: 40px;
}
.sound{
  display: block;
  font-size: 11px;
  color: #A7FC00;
  text-transform: uppercase;
}

